.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start /sidebar-end;
    grid-row: 1 /-1;

    @media only screen and(max-width:$bp-large) {
        grid-column: 1 /-1;
        grid-row: 1 / 2;

    }
}

.nav-btn {
    border: none;
    border-radius: 0;
    background-color: transparent;
    margin-top: 3rem;
    margin-left: 1.5rem;
    color: transparent;

    outline: none;
    position: relative;
    cursor: pointer;

    span {
        position: relative;
        display: block;
        height: 3px;
        width: 5rem;
        border-radius: 3px;
        background-color: #fff;
        margin-bottom: 1rem;
    }

    @media only screen and(max-width:$bp-large) {
        border-radius: 0;
        background-color: transparent;
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        color: transparent;

    }
}